<breadcrumb [currentRoute]="'User Transcation'"></breadcrumb>


<mat-card>
    <mtx-grid 
    [data]="list"
    [columns]="columns"
    [rowSelectable]="rowSelectable"
    [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
    [rowHover]="rowHover"
    [rowStriped]="rowStriped"
    [showToolbar]="showToolbar"
    [toolbarTitle]="'User Transcation'"
    [columnHideable]="columnHideable"
    [columnMovable]="columnMovable"
    [expandable]="expandable"
    [pageOnFront]="showPaginator"
    [showPaginator]="showPaginator"
    [pageSizeOptions]="[5,10,50,100]"
    [pageIndex]="0"
    [pageSize]="7" >
</mtx-grid>
</mat-card>

<ngx-spinner  
      bdColor = "rgba(217,215,215,0.8)" 
      size = "medium" 
      color = "#37a5ee" 
      type = "ball-clip-rotate" 
      [fullScreen] = "true">
      <p style="color: white" > Loading... </p>
    </ngx-spinner>
