<mat-card>
  <mat-tab-group class="m--16">
    <mat-tab label="Overview">
      <div class="m-16">
        <h3>About ReadBy
        </h3>
        <p>
          An online class is a course conducted over the Internet. They are generally conducted 
          through a learning management system, in which students can view their course syllabus 
          and academic progress, as well as communicate with fellow students and their course 
          instructor.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
