<div fxLayout="row" fxLayoutAlign="end">
    <div>
        <a class="closeDialog" href="javascript:void(0)" (click)="destroyDailog()" >
            <mat-icon style="color: red;">close</mat-icon>
        </a>
    </div>
</div><br>
<mat-card *ngIf="!isUpdate" style="width: 600px;height: auto; overflow-y: scroll;">
    <mat-card-title class="text-center">Add Course</mat-card-title>

    <form #courseForm="ngForm" (ngSubmit)="addCourse()"  class="form-field-full" novalidate>
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput name="COURSE_CODE" [(ngModel)]="addCourseModel.COURSE_CODE"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="COURSE_NAME" [(ngModel)]="addCourseModel.COURSE_NAME" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Board</mat-label>
        <mat-select name="BOARD_ID" [(ngModel)]="addCourseModel.BOARD_ID" required>
            <mat-option *ngFor="let btl of boardTypeList" [value]="btl.BOARD_ID" >{{btl.BOARD_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select name="COURSE_TYPE_ID" [(ngModel)]="addCourseModel.COURSE_TYPE_ID" required>
            <mat-option *ngFor="let ctl of courseTypeList" [value]="ctl.COURSE_TYPE_ID" >{{ctl.COURSE_TYPE_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field ngModelGroup="MAS_COURSE_YEAR">
        <mat-label>Select Years</mat-label>
        <mat-select name="YEAR" [(ngModel)]="addCourseModel.MAS_COURSE_YEAR[0].YEAR" required>
            <mat-option *ngFor="let cyl of courseYearAddList" [value]="cyl.YEAR">{{cyl.YEAR}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field ngModelGroup="MAS_STREAM">
        <mat-label>Select Stream</mat-label>
        <mat-select name="STREAM_CODE" [(ngModel)]="addCourseModel.MAS_STREAM[0].STREAM_CODE" required>
            <mat-option *ngFor="let msl of masStreamAddList" [value]="msl.STREAM_CODE">{{msl.STREAM_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
        <div fxLayout="row">
            <div fxLayoutAlign="start">
              <div>
                <input (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*"><br>
                <span style="color: rgb(97, 97, 97);">Upload File (JPEG,PNG Only)</span>
              </div>
            </div>
            <div fxLayoutAlign="start center">
              <img [src]="imgURL" height="110" *ngIf="imgURL" />
            </div>
        </div>
        <!-- <input (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*"><br>
        <span style="color: rgb(97, 97, 97);">Upload File (JPEG,PNG Only)</span> -->
      <!-- <div class="previewImg" fxLayoutAlign="start center">
          <img [src]="imgURL" height="150" *ngIf="imgURL" />
      </div> -->
      <div fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" [disabled]="fileInput.value == '' || !courseForm.valid" >Submit</button>
      </div>
    </form>

  </mat-card>


<!-- =========================== updating Course ========================== -->

  <mat-card style="width: 600px;height: auto; overflow-y: scroll;" *ngIf="isUpdate" >
    <mat-card-title class="text-center">Update Course</mat-card-title>

    <form #courseUpdateForm="ngForm" (ngSubmit)="editCousrse()"  class="form-field-full" novalidate>
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput name="COURSE_CODE" [(ngModel)]="addCourseEditModel.COURSE_CODE"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="COURSE_NAME" [(ngModel)]="addCourseEditModel.COURSE_NAME" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Board</mat-label>
        <mat-select name="BOARD_ID" [(ngModel)]="addCourseEditModel.BOARD_ID"  required>
            <mat-option *ngFor="let btl of boardTypeList" [value]="btl.BOARD_ID" >{{btl.BOARD_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select name="COURSE_TYPE_ID" [(ngModel)]="addCourseEditModel.COURSE_TYPE_ID" [value]="addCourseEditModel.COURSE_TYPE_ID" required>
            <mat-option *ngFor="let ctl of courseTypeList" [value]="ctl.COURSE_TYPE_ID" >{{ctl.COURSE_TYPE_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field ngModelGroup="MAS_COURSE_YEAR">
        <mat-label>Select Years</mat-label>
        <mat-select name="YEAR" [(ngModel)]="addCourseEditModel.MAS_COURSE_YEAR[0].YEAR" [value]="addCourseEditModel.MAS_COURSE_YEAR[0].YEAR" required>
            <mat-option *ngFor="let cyl of courseYearList" [value]="cyl.YEAR">{{cyl.YEAR}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field ngModelGroup="MAS_STREAM">

        <mat-label>Select Stream</mat-label>
        <mat-select name="STREAM_CODE" [(ngModel)]="addCourseEditModel.MAS_STREAM[0].STREAM_CODE" [value]="addCourseEditModel.MAS_STREAM[0].STREAM_CODE" required>
            <mat-option *ngFor="let msl of masStreamList" [value]="msl.STREAM_CODE">{{msl.STREAM_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
        <div fxLayout="row">
            <div fxLayoutAlign="start">
              <div>
                <input (change)="onFileChange($event)" #fileInputEdit type="file" id="file" accept="image/*"><br>
                <span style="color: rgb(97, 97, 97);">Upload File (JPEG,PNG Only)</span>
              </div>
            </div>
            <div fxLayoutAlign="start center">
              <img [src]="imgURL" height="110" *ngIf="imgURL" />
            </div>
        </div><br>
        <!-- <input (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*"><br>
        <span style="color: rgb(97, 97, 97);">Upload File (JPEG,PNG Only)</span> -->
      <!-- <div class="previewImg" fxLayoutAlign="start center">
          <img [src]="imgURL" height="150" *ngIf="imgURL" />
      </div> -->
      <div fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" [disabled]="!courseUpdateForm.valid" >Update</button>
      </div>
    </form>

  </mat-card>
  <ngx-spinner  
      bdColor = "rgba(217,215,215,0.8)" 
      size = "medium" 
      color = "#37a5ee" 
      type = "ball-clip-rotate" 
      [fullScreen] = "true">
      <p style="color: white" > Loading... </p>
    </ngx-spinner>