<div fxLayout="row" fxLayoutAlign="end">
    <div>
        <a class="closeDialog" href="javascript:void(0)" (click)="destroyDailog()" >
            <mat-icon style="color: red;">close</mat-icon>
        </a>
    </div>
</div><br>

  <mat-card style="width: 400px;">
    <mat-card-title class="text-center">Update Course</mat-card-title>

    <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-field-full">
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput name="subjectCode"
        #subjectCode="ngModel" [(ngModel)]="subjectModel.subjectCode"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="courseName" #courseName="ngModel" [(ngModel)]="subjectModel.courseName"  required>
      </mat-form-field>
      <div>
        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
        <div fxLayoutAlign="center">
            <img [src]="imgURL" height="150" *ngIf="imgURL">
        </div>
      </div><br><br>
      <div fxLayoutAlign="center">
        <button [disabled]="!f.valid" mat-raised-button color="primary" >Submit</button>
      </div>
    </form>

  </mat-card>